.wd-sidebar-left {
    /*min-width: 160px;*/
    max-width: 300px;
}
.wd-sidebar-right {
    /*min-width: 160px;*/
    max-width: 380px;
}

.wd-posts > li {
    border-bottom: 1px solid lightgray;
    /*flex-basis: calc(25% + 20px);*/
}
.wd-posts > li:last-child{
    border: 0;
}
.nav-pills{
    border-top: solid lightgray 1px;

}
.nav-pills .nav-item{
    border-bottom: solid lightgray 1px;
    border-left: solid lightgray 1px;
    border-right: solid lightgray 1px;
}
/*.nav-pills .nav-item:last-child{*/
/*    border: 0;*/
/*}*/
/*.nav-tabs{*/
/*    margin-bottom: 10px;*/
/*}*/
.nav-tabs .nav-item .nav-link{
    color: rgb(12,109,253);
}
.nav-tabs .nav-item .active{
    color: black;
}

.nav-link {
    color: black;
}

.wd-sidebar-tuit{
    /*text-decoration: inherit;*/
    text-align: center;
    align-items: center;

    height: 40px;
    line-height: 40px;
    /*margin-top: 10px;*/
    /*padding: 10px 0;*/
    /*min-width: 80px;*/
    background-color: rgb(12,109,253);
    border: none;
    border-radius: 20px;
}
.wd-sidebar-tuit-btn{
    color: white;
}

.wd-posts-container {
    /*border: 1px solid lightgray;*/
    /*padding: 0px;*/
}
.wd-main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    min-width: 400px;
    max-width: 720px;
}

.wd-search-box {
    /*width:100%;*/
    /*max-width: 1920px;*/
    /*height: 75px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.wd-search-bar {
    /*width: 100%;*/
    height: 36px;
    /*background-color: transparent;*/
    /*margin-right: 12px;*/
    /*margin-bottom: 10px;*/
    /*border-radius: 15px;*/
    border: 1px solid lightgray;
    display: flex;
    /*margin: 0px 0px;*/
}
.wd-search-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    flex:1;
}


.wd-search-bar .fa-search {
    align-self: center;
    /*padding: 10px 20px;*/
    color: black;
}

.wd-search-box .fa-cog {
    color: rgb(29,161,242);
    /*margin-bottom: 10px;*/
}

.wd-labels{
    display: flex;
    justify-content: space-around;
    /*margin-bottom: 10px;*/
}

/*.wd-labels .wd-label-np{*/
/*    color: rgb(12, 109, 253);*/
/*    font-size: 15px;*/
/*    !*padding: 16px;*!*/
/*    text-decoration: inherit;*/
/*    flex-grow: 1;*/
/*    text-align: center;*/
/*    border-bottom: solid 1px rgb(224,238,231);*/
/*    !*border-bottom-color: rgb(224,238,231);*!*/
/*    !*border-bottom-width: 1px;*!*/
/*}*/
/*.wd-labels .wd-label-ptr{*/
/*    flex-grow: 1;*/
/*    text-decoration: inherit;*/
/*    text-align: center;*/
/*    color: rgb(79,88,94);*/
/*    font-size: 15px;*/
/*    border-top: 1px solid rgb(224, 238, 231);*/
/*    border-right: 1px solid rgb(224, 238, 231);*/
/*    border-left: 1px solid rgb(224, 238, 231);*/
/*    padding: 16px;*/
/*}*/
/*.wd-ruler{*/
/*    display: flex;*/
/*    flex: 1;*/
/*    height: 4px;*/
/*    border: solid;*/
/*    margin:1px;*/
/*    color: darkgray;*/
/*}*/
/*.wd-ruler-sm{*/
/*    display: flex;*/
/*    flex: 1;*/
/*    height: 1px;*/
/*    border-bottom: solid;*/
/*    margin: 1px;*/
/*    color: darkgray;*/
/*}*/
.wd-header-imgbox{
    position: relative;
    text-align: center;
    color: white;
}
.wd-header-img{
    /*flex-grow: 1;*/
    max-width: 100%;
    max-height: 100%;
}
.wd-header-img-title{
    position: absolute;
    bottom: 20px;
    left: 10px;
    font-size: 40px;
}
.wd-post-topic {
    font-size: 13px;
    color:rgb(110, 118, 125);
}
.wd-post-title {
    font-size: 15px;
    color: black;
}
.wd-post-retweets {
    color: rgb(110, 118, 125);
}
.wd-post-timestamp {
    color: rgb(110, 118, 125);
}
/*.wd-post-suggest {*/
/*    margin-bottom: 16px;*/
/*}*/
.wd-posts {
    list-style: none;
    border: black;
    display: flex;
    flex-direction: column;
    /*padding: 8px 0px;*/
}
.wd-post-authorbox {
    display: flex;
    flex-direction: row;
}
.fa-check-circle {
    align-self: center;
    color: black;
    /*padding: 0px 10px;*/
}
.wd-post-content .wd-post-authorbox .fa-google {
    align-self: center;
    color: black;
    /*padding: 0px 10px;*/
}
/*.wd-post-item {*/
/*    display: flex;*/
/*    margin:10px;*/
/*}*/
/*.wd-post-suggest {*/
/*    margin:10px;*/
/*}*/
.wd-post-content {
    flex : 1 1;
    display:flex;
    flex-direction : column;
}
/*.wd-post-aside {*/
/*    flex:1;*/
/*    display:flex;*/
/*    justify-content: end;*/
/*    margin-right: 16px;*/
/*}*/
.wd-post-img{
    height: 100px;
    width: 100px;
    border-radius: 18px;
}
.wd-post-author {
    color: black;
}